.main7 {
  position: absolute;
  width: 39vh;
  height: 25vh;
  background-image: url(../img/tape.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  top: 36vh;
  left: 57vw;
  transform: rotate(180deg);
  cursor: pointer;
}
.main7bg{
  background-image: url('../img/main7.gif');
  opacity: 1;
  z-index: 1;
}
