body{
  width: 100vw;
  position: absolute;
  display: block;
  overflow: scroll;
}
.bg{
  width:100%;
  height:115%;
}
.main2{
  position: absolute;
  width: 60vh;
  height: 60vh;
  background-image: url('../img/vinyl.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  top: 20vh;
  left: 56vw;
  transform: rotate(180deg);
  cursor: pointer;
}
.main2bg{
  background-image: url('../img/main2.gif');
  opacity: 1;
  z-index: 1;
}
.zapis{
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
}
.zapis:hover{
  font-size: 3vh;
  transform: scale(1.2);
}
.zapis3{
  top: 79.8vh;
}
.linkarrow{
  position: absolute;
  top: 0.8vh;
  left: 16vh
}
.zapislast{
  position: relative;
  top: 6vh;
  widows: 77vh;
  display: none;
}
